# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Compiled C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller - temporary files for building executables
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translation files
*.mo
*.pot

# Django settings and database files
*.log
local_settings.py
db.sqlite3

# Flask specific files
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation build files
docs/_build/

# PyBuilder target directory
target/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IPython configurations
profile_default/
ipython_config.py

# pyenv version file
.python-version

# Virtual environments (env and venv folders)
.env
.env.*
!.env.example
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pipenv (comment Pipfile.lock if cross-platform dependencies cause issues)
#Pipfile.lock

# Celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Spyder and Rope project settings
.spyderproject
.spyproject
.ropeproject

# mkdocs documentation build
/site

# mypy static type checker cache
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Project-specific files
toDoLigaPistacho.ipynb     
todoligapistacho.csv 
.vscode
