# Azure Functions SDK, necessary for creating and deploying functions (kept for reference)
# azure-functions

# Azure Storage Blob client library for working with blob storage (kept for reference)
# azure-storage-blob==12.20.0

# Python dotenv for loading environment variables from a .env file
python-dotenv==1.0.1

# Official Todoist API client for interacting with Todoist tasks
todoist_api_python==3.1.0

# Pandas for data manipulation and analysis, useful for working with task data
pandas==2.2.2

# spaCy for natural language processing, possibly used for analyzing or categorizing tasks
spacy==3.7.4

# Microsoft Authentication Library (MSAL) for handling secure authentication, 
# typically used for accessing Microsoft services such as Outlook or Teams
msal==1.31.0
